<table class="table table-bordered">
  <tbody>
  <tr style="border: 0;">
    <td colspan="3">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2" checked>
        <label class="custom-control-label">First Item</label>
        <a href="#" class="trashButton"><i class="fa fa-trash-o"></i></a>
      </div>
    </td>
  </tr>
  <tr>
    <td scope="row" colspan="3">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3">
        <label class="custom-control-label">Second Item</label>
        <a href="#" class="trashButton"><i class="fa fa-trash-o"></i></a>
      </div>
    </td>
  </tr>
  <tr>
    <td scope="row" colspan="3">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck4">
        <label class="custom-control-label">Third Item</label>
        <a href="#" class="trashButton"><i class="fa fa-trash-o"></i></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
